body {
  color: #31495a;
  font: 16px/1.75 "Hiragino Kaku Gothic ProN","Hiragino Sans","Yu Gothic Medium","游ゴシック Medium",YuGothic,"游ゴシック体",Meiryo,sans-serif;
  font-weight: 300;
  text-align: center;
  background: #fff;
  -webkit-text-size-adjust: 100%;
}

.wrapper {
  display: flex;
  height: 100vh;
}

.mainContents {
  margin: 0;
  width: 100%;
  height: 100%;
  margin-right: 320px;
  /* z-index: 10; */
  /* overflow-y: auto; */
}

.header {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  /* height: 80px; */
  text-align: center;
  /* align-items: center; */
  /* background: #ffa877; */
  z-index: 10;
  padding-right: 320px;
}

.header_inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  /* max-width: 1400px; */
  padding: 0 40px;
  background-color: #ffffff;
}

.global_nav_main {
  display: flex;
  margin: 0 0 0 auto;
  align-items: center;
}

ul {
  list-style: none;
  margin: 0;
  display: flex;
}

.global_nav_main > ul >li {
  margin: 0 0 0 15px;
  font-size: 14px;
}

.global_nav_main > ul > li > a{
  display: flex;
  text-decoration: none;
  padding: 10px 5px;
  font-size: 14px;
  color: #31495a;
  font-weight: 600;
}

.contact_button {
  color: #007bbf;
  border: solid 1px #007bbf;
  padding: 10px 20px;
}

.global_nav_contact > ul > li > a{
  display: block;
  text-decoration: none;
  font-size: 14px;
  color: #31495a;
  font-weight: 600;
  border-radius: 8px;
  margin-left: 20px;
  line-height: 1;
}

.key_visual {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  /* object-fit:contain; */
  /* background: #bdf0e4; */
}

.key_visual_text{
  position: absolute;
  top: 33.4%;
  left: 13.3%;
  z-index: 2;
  width: 26.6%;
}

.key_visual_text > h2 {
  clear: both;
  margin: 20px 0 10px;
  padding: 0;
  font-weight: 600;
}

.key_visual_img {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  /* object-fit:contain; */
  /* background: #bdf0e4; */
}

.main_message{
  position: fixed;
}

.sidebar {
  display: block;
  /* position: sticky; */
  position: fixed;
  /* flex: 1; */
  position: -webkit-sticky;
  top: 0;
  right: 0;
  bottom: 0;
  background: #f5f5f5;
  width: 320px;
  text-align: center;
  overflow-y: auto;
  font-size: 40px;
  z-index: 10;
}

.sidebar_inner{
  padding: 20px;
  height: 100%;
  width: 100%;
}

.sidebar_title {
  color: #0a9ae5;
  line-height: 1.33;
  font-size: 18px;
  margin-top: 0;
  font-weight: 600;
}

.sidebar_title::before{
  content: "";
  display: block;
  width: 55px;
  height: 45px;
  margin: 0 auto 12px;
  background: url(../img/icon/ico-sidebar.svg) no-repeat center/contain;
}

.sidebar_form{
  display: block;
}

.sidebar_name{
  display: flex;
  width: 100%;
  height: auto;
}

#sidebar_form_Lastname{
  display: flex;
  width: 95%;
  padding: 9px 18px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  outline:none;
}

#sidebar_form_Firstname{
  display: flex;
  width: 95%;
  margin-left: auto;
  padding: 9px 18px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  outline:none;
}

.sidebar_form_another{
  display: flex;
  width: 100%;
  padding: 9px 18px;
  margin-top: 12px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  outline:none;
}

.sidebar_form_text{
  display: flex;
  width: 100%;
  padding: 9px 18px;
  margin-top: 12px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  outline:none;
}

.sidebar_form_drop{
  display: flex;
  width: 100%;
  padding: 9px 18px 9px 14px;
  margin-top: 12px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  outline:none;
}

.sidebar_form_policy{
  font-size: 12px;
  padding: 0 24px;
}

.sidebar_form_policy > p{
  margin-top: 32px;
}

.sidebar_form_checkbox_text{
  text-align: left;
}

/* .sidebar_form_submit{
  width: 100%;
  padding: 22px 0;
  border-radius: 12px;
  background-color: #0a9ae5;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  line-height: 1;
} */

.sidebar_form_button{
  width: 100%;
  padding: 22px 0;
  border-radius: 12px;
  background-color: #0a9ae5;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  line-height: 1;
  border: none;
  cursor: pointer;
}

.sidebar_form_button:hover{
  background-color: #fff;
  color: #0a9ae5;
  border-color: #0a9ae5;
  border-style: solid;
  border-width: 1px;
}

.sidebar_form_link{
  color: #0a9ae5;
  font-weight: 300;
  text-decoration: none;
  font-size: 16px;
  margin-top: 24px;
}

img{
  width: 100%;
  object-fit: cover;
  height: auto;
}

::placeholder {
  color: #bbb;
}

/* .key_visual_img > picture > img{
  width: 100%;
  object-fit: cover;
  height: auto;
} */
